{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block main %}
    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <form method="post">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Phone</label>
                            {{ form.phone|attr:'class:form-control' }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            {{ form.email|attr:'class:form-control' }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            {{ form.address|attr:'class:form-control' }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Postal Code</label>
                            {{ form.postal_code|attr:'class:form-control' }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Full Name</label>
                            {{ form.full_name|attr:'class:form-control' }}
                        </div>
                    </div>
                        <button type="submit" class="form-control btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- Checkout End -->

{% endblock %}